@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap'); 


$container-padding: 4em;

$light-blue: #4C9DD7;
$light-blue-hover: #58aae4;
$heading: #124265;
$light-blue-bg: #F8FBFE;
$grey: #626262;
$light-grey: #cbcbcb;

@mixin btn-primary {
    padding: 0.6em 0.9em;
    background-color: $light-blue;
    border: none;
    color: white;
    border-radius: 0.1em;
}

.container {
    padding: 0 $container-padding;
}

.b {
    border: 1px solid black;
}

body {
    margin: 0;
    font-family: 'Poppins';
    background-color: rgba($color: #f0f0f0, $alpha: 1.0);
    text-decoration: none;
    list-style: none;

    a {
        text-decoration: none;
      }
    
      li {
        list-style: none;
      }

      h1,h2,h3,h4,h5,h6,p {
        margin: 0;
      }
    
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {

        h1 {
            color: $heading;
        }

        a {
            font-size: 1.1em;
            color: $light-blue;
        }
    }
}

.hero {
    margin: 2.5em auto;
    background-image: url('/images/hero-bg.jpg');
    background-attachment: fixed;
    position: relative;


    ::before {
        content: "";
        background: rgba(255, 255, 255, 0.889);
        position: absolute;
        top: 0;
    }

    
    .left {
        display: block;
        text-align: center;
        // border: 2px solid;

        h2, h6, button {
            margin-top: 1em;
        }

        h2 {
            font-weight: bold;
            font-size: 4.5vw;
            color: $heading;
        }

        h6 {
            font-size: 1.5em;
            color: $grey;
        }

        button {
            padding: 0.6em 0.9em;
            background-color: $light-blue;
            border: none;
            color: white;
            border-radius: 0.1em;
        }

        button:hover {
            background-color: $light-blue-hover;
            cursor: pointer;
        }


        .readmore {
            @include btn-primary;
            font-size: 1em;
        }

        
    }

    .hero-form {
        // max-width: min(65%, 1000px);
        padding: 2em;
        background-color: white;
        min-width: 300px;
        
        select option {
            text-transform: capitalize;
            color: $grey;
        }

        .error {
            color: red;
            font-weight: 400;
            font-size: 0.85em;
        }

        .mb {
            margin-bottom: 1em;
        };

       .heading {
            text-align: center;
            margin: 0.6em auto;
            // font-weight: 500;
            font-size: 1.3em;
        }

        label, p {
            display: block;
            font-size: 0.9em;
            color: $grey;
            // margin-bottom: 1em;
        }

        input, select, input[type=date] {
            width: 100%;
            box-sizing: border-box;
            padding: 0.6em;
            font-size: 1em;
            border: 1px solid $light-grey;
            background-color: white;
            color: $grey;
            border-radius: 0.1em;
        }

        input:focus, select:focus, select:visited {
            border: 1px solid $light-blue-hover;
            outline: none;
        } 

        .otplink  {
            // border: 1px solid;
            text-align: center;
            font-size: 0.9em;
            margin-top: 1em;
           
            a {
                color: $grey;
                font-weight: 500;
            }
            a:hover {
                color: $light-blue-hover;
            }
        }

        .timer {
            margin-bottom: 1em;
            text-align: center;
            font-weight: bold;
            font-size: 1.1em;
            // display: none;

            a {
                color: $light-blue;
            }
        }


        .submit {
            text-align: center;
            width: unset;

            input {
                width: unset;
                @include btn-primary();
            }

            input:hover {
                background-color: $light-blue-hover;
            }
        }


        .radio {
            display: flex;
            column-gap: 1em;
            align-items: center;
            margin-bottom: 0;


            div {
                // border: 1px solid;
                display: flex;
                align-items: flex-start;
                justify-content: center;
            }

            input {
                width: unset;
            }
        }
    }


}

