// colors

$cream-color: #FFCC99;
$pink-color: #FF00A2;
$yellow-color: #FF9A34;
$darkblue-color: #00199F;
$red-color: #ff0016;
$purple-color: #6D1137;

$global-div-border-radius: 15px;

$button-transition: all ease-in 0.15s;

$em1: 1em;
$em2: 2em;
$em3: 3em;
$em4: 4em;

$listh1: 1.65em;
$listh2: 1.45em;
$listh3: 1em;

$tableCellPad: 4px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: $cream-color;
    font-family: 'Courier New', Courier, monospace, ;
}

.container {
    margin: 10px;
    // border: 1px solid;
}

.uppercase {
    text-transform: uppercase;
}

.my1 {
    margin-top: $em1;
    margin-bottom: $em1;
    font-family: $em1 * 1.4;
}

.logo {
    text-align: center;
    font-size: 3em;
    padding: .4em;
    border: 3px solid $red-color;
    border-radius: $global-div-border-radius;

    text-transform: capitalize;
    
    a {
        cursor: pointer;
        color: black;
    }
    
    :visited, :hover {
        color: black;
    }
}


.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.pink-head {
    background-color: $pink-color;
    padding: $em1/3;
    color: white;
    text-align: center;
    border: 3px solid white;
    font-size: $em2/1.2;
    border-radius: $global-div-border-radius;
}

// buttons

.blue-btn {
    background-color: $darkblue-color;
    color: white;
    text-transform: capitalize;
    padding: 4px 8px;
    border-radius: $em1/2;
    font-family: 'Courier New', Courier, monospace;
    transition: $button-transition;
    border: transparent;
}

.blue-btn:hover {
    box-shadow: 1px 1px 4px black;
    font-weight: bold;

}

.special-blue-btn {
    background-color: $darkblue-color;
    display: inline-block;
    padding-left: $em2;
    padding-right: $em2;
    color: white;
    cursor: pointer;
    transition: $button-transition;
    border: 2px solid transparent;
    margin: auto;
    padding: $em1*.3 $em2;
}

.special-blue-btn:hover {
    background-color: $cream-color;
    border: 2px solid $darkblue-color;
    color: $darkblue-color;
}

.green-btn {
    border: 2px solid transparent;
    font-weight: normal;
    padding: $em1* .25 $em1 * .4;
    color: white;
    box-shadow: 1px 1px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    border-radius: $global-div-border-radius *0.2;
    transition: $button-transition;
}

.green-btn:hover {
    border: 2px solid white;
}

.red-btn {
    border: 2px solid transparent;
    font-weight: normal;
    padding: $em1* .25 $em1 * .4;
    color: white;
    box-shadow: 1px 1px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $red-color;
    border-radius: $global-div-border-radius *0.2;
    transition: $button-transition;
}

.red-btn:hover {
    border: 2px solid white;
}

.pink-btn {
    background-color: $pink-color;
    color: white;
    padding: $em1*.45 $em1*.7;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: $em1 * .1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.262);
}

.pink-btn:hover {
    border: 2px solid white;
    box-shadow: 2px 2px 4px $purple-color;
}

// end buttons


.errors {
    background-color: $red-color;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 5px;

    p,
    li {
        color: white;
        font-size: 0.9em;
        font-weight: normal;
        font-style: normal;
        text-transform: capitalize;
    }
}


.sattalist {
    margin-top: $em1;
    border: 3px solid $pink-color;
    border-radius: $global-div-border-radius;
    // border: 1px solid;


    // delete confirm
    .confirm-heading {
        font-size: $listh2;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: normal;
        color: $purple-color;
        margin-top: $em1;

        span {
            font-weight: bold;
            color: $darkblue-color;
        }
    }

    .confirm-div {
        display: flex;
        // border: 1px solid;
        column-gap: $em2;
        margin-top: $em1;
        margin-bottom: $em1;
        justify-content: center;
        align-items: center;

    }

    // end delete confirm

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        text-transform: uppercase;
        border-bottom: 1px solid $pink-color;
        text-align: center;

        a {
            font-size: $em1*0.8;
        }

        .info {

            h3 {
                color: $darkblue-color;
                font-weight: bold;
                font-size: $listh1;
                text-align: center;
                text-transform: uppercase;
            }

            p {
                margin-top: $em1/4;
            }

            p:nth-of-type(1) {
                color: $purple-color;
                font-size: $listh2;
                font-weight: bold;
                text-align: center;
            }

            p:nth-of-type(2) {
                font-size: $listh3;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: $em1
            }

        }
    }

    .login {
        // border: 1px solid;
        margin: 30px auto 30px;
        max-width: 600px;
        padding-left: $em1;
        padding-right: $em1;

        .mb {
            margin-bottom: $em1;
        }

        .submit,
        .link {
            display: block;
            text-align: center;
        }

        label {
            margin-bottom: 4px;
            font-weight: 500;
            // text-align: left;
        }

        input {
            display: block;
            padding: .25em;
            font-size: 1.2em;
            width: 100%;
            background-color: $cream-color;
            border: 2px solid $darkblue-color;
            outline: none;
        }

        input[type=submit] {
            background-color: $darkblue-color;
            width: unset;
            display: inline-block;
            padding-left: $em2;
            padding-right: $em2;
            color: white;
            cursor: pointer;
            transition: $button-transition;
            border: 2px solid transparent;
            margin: auto;
            padding: $em1*.3 $em2;
        }

        input[type=submit]:hover {
            background-color: $cream-color;
            border: 2px solid $darkblue-color;
            color: $darkblue-color;
        }

        .link {
            a {
                color: $purple-color;
                font-family: 'Times New Roman', Times, serif;
                font-size: 1.1em;
                background-color: none;
            }

            a:hover {
                color: $darkblue-color;
            }
        }


    }

    // admin home
    .action {
        // border: 1px solid;
        padding: $em1;

        .pink-btn {
            font-size: $em1 * .95;
        }
    }

    .item.admin {
        .controls {
            text-transform: capitalize;
            font-size: $em1 *1.1;
            letter-spacing: 1px;
        }
    }

    // end admin home

    .admin.create {
        display: block;
        text-align: center;
        // border: 1px solid;

        .errors {

            p,
            li {
                font-size: $em1;
                color: white;
                font-weight: normal;
                margin: $em1*.05 auto;
                text-transform: capitalize;
            }
        }

        .info {

            h3 {
                input {
                    font-weight: bold;
                    text-align: center;
                    display: block;
                    padding: $em1 * 0.1;
                    font-size: 1.2em;
                    width: 100%;
                    background-color: $cream-color;
                    border: 1px solid white;
                    outline: none;
                }
            }

            .number {
                display: flex;
                margin-top: $em1 * .5;
                // border: 1px solid;
                justify-content: center;
                gap: 1px;

                div {
                    display: flex;
                    border: 1px solid white;
                    align-items: center;

                    input {
                        background-color: $cream-color;
                        border: none;
                        text-align: center;
                        font-weight: bold;
                        margin: 0;
                        padding: 0;
                    }
                }


                input {
                    color: $purple-color;
                    font-size: 1.4em;
                    width: 4ch;
                    // letter-spacing: ;
                    // display: inline;
                }

                .ch1 {
                    width: 2ch;
                }
            }

            .time {
                // border: 1px solid;
                display: flex;
                column-gap: 1em;
                max-width: 600px;
                margin: auto;
                justify-content: center;
                align-items: center;

                div {
                    margin-top: $em1 * .6;
                    border: 1px solid white;
                    padding: 3px;

                    label {
                        text-transform: capitalize;
                        font-size: $em1 * .85;
                        color: $purple-color;
                        // font-weight: 500;
                        font-family: Arial, Helvetica, sans-serif;
                    }

                    input {
                        // font-size: 1.3em;
                        background-color: $cream-color;
                        box-shadow: 2px 2px 4px #FF9A34;
                        font-weight: bold;
                        border: none;
                        font-size: $em1 * 1.35;
                    }

                }


            }

            .controls {
                margin-top: $em1;
                display: flex;
                // border: 1px solid;
                justify-content: center;
                align-items: center;
                gap: $em1;

                a, input {
                    padding: $em1 * .28 $em1; 
                    font-size: $em1;
                    border-radius: 0px;
                }
            }

        }
    }

}

.panel {
    margin-top: $em1;

    .pink-head {
        margin-bottom: $em1 * .5;
    }


    th {
        background-color: #ff9a3478;
        padding: $em1 * .4;
        text-transform: capitalize;
        color: $darkblue-color;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      }
    
      td,
      th {
        border: 1px solid #ff00a2;
      }
    
      tbody tr td:nth-child(3n) {
        border-left: none;
        border-right: none;
        padding-left: $tableCellPad;
        padding-right: $tableCellPad;
      }
    
      tbody tr td:nth-child(3n + 2) {
        border-right: none;
        padding-left: $tableCellPad;
      }
    
      tbody tr td:nth-child(3n + 4) {
        border-left: none;
        padding-right: $tableCellPad;
      }


      table {

        .nb {
            font-size: $em1 * .9;
            font-weight: bold;
        }

        .mid {
            font-size: $em1 * 1.5;
            font-weight: bold;
        }

        .dt {
            font-size: $em1 * .8;
            font-weight: bold;
            padding: 10px;
        }
      }



}

.jodi {
    margin-top: $em1;
    border-radius: $global-div-border-radius;


    .pink-head {
        margin-bottom: $em1 * .5;
    }


    th {
        background-color: #ff9a3478;
        padding: $em1 * .4;
        text-transform: capitalize;
        color: $darkblue-color;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      }

      td, th {
        border: 1px solid $pink-color;
      }

      td {
        padding: 10px;
        font-weight: bold;
      }
}

.settings {
    border: 3px solid $pink-color;
    border-radius: $global-div-border-radius;
    margin-top: $em1;

    .errors {
        width: 90%;
        text-align: center;
        margin: auto;
        margin-top: $em1;
    }

    .inputs {
        max-width: 650px;
        // border: 1px solid;
        padding: $em1;
        margin: auto;
        margin-top: $em1;

        a {
            margin-bottom: $em1;
            // border: 1px solid;
            display: inline-block;
            min-width: 170px;
        }

        p {
            font-size: $em1 * 0.9;
            font-weight: 100;
            color:$purple-color;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: $em1;

            span {
                color: $darkblue-color;
            }

        }

        .form-control {
            label {
                font-family: Arial, Helvetica, sans-serif;
                color: $purple-color;
            }

            input[type=checkbox] {
                transform: scale(1.3);
            }

            input[type=submit] {
                margin-top: $em1;
                font-size: $em1;
                min-width: 150px;
                cursor: pointer;
            }

            .checkbox {
                font-size: $em1 * 1.1;
            }

            .input-text {
                margin-bottom: $em1;
            }

            .input-text label {
                font-family: 'Courier New', Courier, monospace;
                color: black;
                // margin-bottom: 20px;
                // border: 1px solid;

            }

            .input-text input {
                font-weight: bold;
                // text-align: center;
                display: block;
                padding: $em1 * 0.2;
                font-size: 1.2em;
                width: 100%;
                background-color: $cream-color;
                border: 1px solid white;
                outline: none;
            }
        }
    }




}


// media queryies

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 426px) {

    $global-div-border-radius: 10px;

    .container {
        margin: 4px;
    }

    .logo {
        font-size: 2.4em;
        padding: .2em;
    };

    .pink-head {
        font-size: $em1 * 1.4;    
    }
    .sattalist .item .info h3 {
        font-size: 1.25em;
    }

    .sattalist .item .info p:nth-of-type(2) {
        font-size: 0.84em;
    }

    .blue-btn {
        padding: 0.2em;
    }

    .nb {
        font-size: $em1 * .5 !important;
    }

    .mid {
        font-size: $em1 * 0.7 !important;
    }

    .dt {
        font-size: $em1 * .5 !important;
        padding: 4px !important;
    }

    thead tr th {
        font-size: $em1 * 0.5 !important;
    }

  }




