* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #FFCC99;
  font-family: "Courier New", Courier, monospace;
}

.container {
  margin: 10px;
}

.logo {
  text-align: center;
  font-size: 3em;
  padding: 0.4em;
  border: 3px solid #ff0016;
  border-radius: 15px;
}

.nb {
  border-right: none;
}

button, a {
  padding: 10px 15px;
  margin: 15px;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #00199F;
  cursor: pointer;
}

.sattalist {
  margin-top: 1em;
  border: 3px solid #FF00A2;
  border-radius: 15px;
}
.sattalist .confirm-div {
  display: block;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}
.sattalist .confirm-div a {
  border: none;
  font-weight: normal;
  padding: 8px 10px;
  font-size: 1.2em;
  box-shadow: 1px 1px 2px black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
.sattalist .confirm-div a:hover {
  font-weight: bold;
}
.sattalist .confirm-div a:nth-of-type(1) {
  background-color: green;
}
.sattalist .confirm-div a:nth-of-type(2) {
  background-color: #ff0016;
}
.sattalist .confirm-heading {
  text-align: center;
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
}
.sattalist .confirm-heading span {
  color: #00199F;
  text-decoration: underline;
  text-transform: uppercase;
}
.sattalist .item.admin a {
  padding: 4px 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.9em;
}
.sattalist h2 {
  text-align: center;
  background-color: #FF00A2;
  padding: 0.3em;
  border: 3px solid white;
  color: white;
  border-radius: 15px;
  font-style: italic;
}
.sattalist .login {
  margin: 30px auto 30px;
  max-width: 600px;
  padding-left: 1em;
  padding-right: 1em;
}
.sattalist .login .mb {
  margin-bottom: 1em;
}
.sattalist .login .submit, .sattalist .login .link {
  display: block;
  text-align: center;
}
.sattalist .login .link a {
  color: #6D1137;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  background-color: none;
}
.sattalist .login .link a:hover {
  color: #00199F;
}
.sattalist .login .form-control label {
  margin-bottom: 4px;
  font-weight: 500;
}
.sattalist .login .form-control input {
  display: block;
  padding: 0.25em;
  font-size: 1.2em;
  width: 100%;
  background-color: #FFCC99;
  border: 2px solid #00199F;
  outline: none;
}
.sattalist .login .form-control input[type=submit] {
  background-color: #00199F;
  width: unset;
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid transparent;
  margin: auto;
}
.sattalist .login .form-control input[type=submit]:hover {
  background-color: #FFCC99;
  border: 2px solid #00199F;
  color: #00199F;
}
.sattalist .login .errors {
  background-color: #ff0016;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 5px;
}
.sattalist .login .errors p, .sattalist .login .errors li {
  color: white;
  font-size: 0.9sem;
  font-weight: normal;
  font-style: normal;
  text-transform: capitalize;
}
.sattalist .admin a {
  padding: 3px 8px;
  border-radius: 10px;
}
.sattalist .admin .controls {
  text-align: center;
}
.sattalist .admin .controls a {
  border: none;
  font-weight: normal;
  padding: 5px 10px;
  font-size: 1em;
  box-shadow: 1px 1px 2px black;
  margin-top: 10px;
}
.sattalist .admin .controls a:hover {
  font-weight: bold;
}
.sattalist .admin .controls a:nth-of-type(1) {
  background-color: #ff0016;
}
.sattalist .admin .controls a:nth-of-type(2) {
  background-color: green;
}
.sattalist .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #FF00A2;
}
.sattalist .item a {
  background-color: #00199F;
  color: white;
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 8px;
  font-weight: bold;
}
.sattalist .item h3 {
  color: #00199F;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}
.sattalist .item p:nth-of-type(1) {
  color: #6D1137;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.sattalist .item p:nth-of-type(2) {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 0.96em;
}
.sattalist .item input {
  background-color: #FFCC99;
  border: 1px solid transparent;
  font-size: 1.3em;
  text-align: center;
  display: inline;
  font-weight: bold;
}
.sattalist .item .info h3 input {
  border: 1px solid white;
}
.sattalist .item .info .time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5em;
}
.sattalist .item .info .time div {
  border: 1px solid white;
  padding: 2px;
}
.sattalist .item .info .time input {
  font-weight: normal;
  font-size: 1.4em;
  box-shadow: 2px 2px 4px #FF9A34;
  font-weight: bold;
}
.sattalist .item .info .time label {
  text-transform: capitalize;
}
.sattalist .item .number {
  display: flex;
  margin-top: 0.5em;
  justify-content: center;
  gap: 1px;
}
.sattalist .item .number div {
  border: 2px solid gold;
  display: flex;
  border: 1px solid white;
  align-items: center;
  padding: 0;
}
.sattalist .item .number div p {
  padding: 0;
}
.sattalist .item .number input {
  color: #6D1137;
  font-size: 1.4em;
  width: 4ch;
}
.sattalist .item .number .ch1 {
  width: 2ch;
}
.sattalist .action {
  padding: 1em;
}
.sattalist .action a {
  background-color: #FF00A2;
  color: white;
  padding: 5px 10px;
  border: 1px solid;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
}
.sattalist .action a:hover {
  border: 2px solid white;
  box-shadow: 2px 2px 4px #6D1137;
}
.sattalist .create {
  display: block;
  text-align: center;
}
.sattalist .create .errors {
  background-color: #ff0016;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sattalist .create .errors p, .sattalist .create .errors li {
  color: white;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-transform: capitalize;
}
.sattalist .create .time {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
  max-width: 600px;
  margin: auto;
}
.sattalist .create .time input {
  font-size: 1.3em;
}
.sattalist .create .controls {
  margin-top: 15px;
}
.sattalist .create .controls a {
  background-color: #ff0016;
  color: white;
  padding: 5px 10px;
  border: 1px solid;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 1em;
}
.sattalist .create .controls a:hover {
  border: 2px solid white;
}
.sattalist .create .controls input {
  background-color: #FF00A2;
  color: white;
  padding: 5px 10px;
  border: 1px solid;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 1em;
}
.sattalist .create .controls input:hover {
  border: 2px solid white;
  box-shadow: 2px 2px 4px #6D1137;
}

.panel h1 {
  text-align: center;
  background-color: #FF00A2;
  color: white;
  padding: 0.3em;
  border-radius: 15px;
  border: 3px solid white;
}
.panel table {
  width: 100%;
  text-align: center;
  margin-top: 1.5em;
}
.panel table, .panel th, .panel td {
  border: 1px solid rgba(0, 0, 0, 0.332);
  border-collapse: collapse;
  padding: 5px;
}/*# sourceMappingURL=satta.css.map */